name: Release
on:
  release:
    types:
      - published

jobs:
  release-agent:
    name: Agent
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - run: go test -v ./...
      - run: go build -o ./bin/vault-agent -ldflags "-X main.version=${{ github.event.release.tag_name }}" ./main.go
      - name: Publish Artifacts
        uses: SierraSoftworks/gh-releases@v1.0.8
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          files: 'bin/vault-agent'
          overwrite: 'true'