name: Test
on:
  - push
  - pull_request

jobs:
  test-agent:
    runs-on: ubuntu-latest
    name: Agent

    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 'stable'
      - run: go build -v ./...
      - run: go test -v ./...